* {
    box-sizing: border-box;
}

.grid-container {
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.grid-row {
    flex: 1 0 auto;
    display: flex;
}

.grid-square {
    flex: 1 0 auto;
}